
/* Style for the entire page */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
  }
  
 /* Position for #startVision */
#startVision {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  margin-left: 60%;
  font-size: clamp(5px, 5vw, 12px);
  color: #777;
  text-align: right;
}

/* Loading screen styles */
#loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* z-index: 9999; */
    font-size: 15rem;
    color: #333;
}
  
/* Style for the loading text */
#loading-text {
    font-weight: bold;
}

#startIcon {
    display: block;
    padding: 20px;
    text-align: center;
}

#startText {
    font-size: 8rem;
    font-weight: bold;
    color: #333;
}
  
#startDescription {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    font-size: 12px;
    color: #777;
    text-align: left;
}


  /* Main Page */

  /* Style for the body to make sure content is not hidden behind the top bar */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding-top: 60px; /* Add space for the fixed top bar */
}

/* Top bar styles */
#topBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #DCDCDC;
  color: white;
  display: flex;
  justify-content: space-between; 
  align-items: center;  
  padding: 10px 20px;  
  z-index: 1000;  /* Make sure the top bar stays on top of other content */
}

#logo {
  height: 40px; 
  width: auto;
}

#topBarLinks {
  display: flex;
  gap: 20px; 
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}

#topBarLinks a:hover {
  text-decoration: none;
  color:black
}


html {
  scroll-behavior: smooth;
}

#mainVision{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20%;
  font-size: 3.5rem;
}
/* about section styles */
#profilePage{
  display: flex;
  justify-content: center;
  align-items: center;
}

#profilePic{
  display:flex;
  width: 15%;
  height: auto;
  margin: 10px;
}

#profileDescription{
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}

#profileName{
  font-size: 40px;
  margin-bottom: 100px;
}

#writeUp{
  font-size: 25px;
  margin-top: 20px;
}

