.logo {
    width: 400px;
}

div {
    display: block;
   /* text-align: center;*/
    /*margin-bottom: 30px;*/
    font-size: 15px;
}

.title {
    margin-left: 1px;
    margin-top: 70px;
    font-size: 25px;
}

.productitem{
    display:block;
    padding: 5px;
    width:400px;
}


.highlight {
    background-color: yellow;
    font-size: larger;
    font-weight: bold;
}

a{ 
    text-decoration: none;
    color:black
}
.headlines{
    margin-bottom: 5px;
    margin-top: 2px;
}
.galleryimage{
    width: 285px;
    height: 285px;
    border: 3px solid black;
}

.galleryimageD{
    width: 594px;
    height: 594px;
    border: 3px solid black;

}

.font {
    font-size: 20px;
    margin-bottom: 5px;
    text-align: left
}


.line {
    text-transform: uppercase;
}


.Style {
    text-decoration: none;
}


.selection {
    width: 180px;
    align-self: center;
    border:2px solid black;
}

.productitem{
    width: 290px;
    margin: auto;
    display: block;
    padding: 5px;
}

.productitem:hover{
    font-weight: bold;
    background-color: yellow;
}
.productitem p{
    margin: 2px;
}

hr{
    border: 2px solid black;
}

.dropt{
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: 9%;
    display: block;
}

.together{
    margin: auto;
    width: 180px;
    text-align: left;
}
.Cartimage {
    width: 200px;
    height: 200px;
    border: 3px solid black;
}

.productin {
    margin-bottom: 5px;
    font-size: 130%;
}

.Hline {
    margin-top: 50px;
    width: 750px;
    boarder: 3px solid black;
}



#addtocartbutton {
    background-color: yellow;
    font-weight: bold;
    font: 30px;
    width: 110px;
    height: 30px;
    border: solid black;
    align-items: center;
}

#checkoutbutton {
    background-color: yellow;
    font-weight: bold;
    font: 30px;
    width: 110px;
    height: 30px;
    border: solid black;
    align-items: center;
    margin-top: -20px;
}

.buttonbox {
    font-weight: bold;
    font: 30px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    
}
.removel{
    text-decoration: underline;
}


/*Flexbox*/

body {
    display: flex;
    flex-direction: column;
  }


section{
    display: flex;
  }


.topclass{
    flex-grow: 1;
}

.titles{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    gap: 50px;
}

.title11, .title22 {
    margin-right: 20px; 
  }
  
.flexboxright{
    margin: 20px;
    flex-grow: 1;
}

.description{
    justify-content: space-around;
    width: 180px;
    margin: auto;
    margin-bottom: 20px;
    text-align: left;
}
/*checkout cart total price*/
.Hline{
    display:flex;
}

.price{
    display:flex;
    font-size: 130%;
    margin-top:20px;
    justify-content: flex-end;
}


.label2{
    text-align: right;
}

.cartout1,.cartout2{
    display: flex;
    justify-content: space-evenly;
    margin-left:300px;
    margin-top: 100px;
}

.cartoutdis{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 30px;
    margin-top: 30px;
}

.cartout3{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.coeflexbox2,.coeflexbox4, .coflexbox5 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  