body{
    margin: 0;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    font-family: 'Roboto', sans-serif;
    color:var(black);
    background-color: var(white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container{
    width: 80%;
    height:700px;
    margin: o auto;
    border: 10px solid black;

}
.item {
    width: 150px;
    height:150px;
    background-color: rgb(126, 81, 13);
    padding: 1em;
    font-weight: 700;
    color: azure;
    text-align: center;
    border-radius: 10px;
    border: 10px solid blue;

}